[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Core Impresso library
impresso-cookbook = {editable = true, path = "./cookbook/lib"}

impresso-mallet-lda = {git = "https://github.com/impresso/impresso-mallet-topic-inference.git", ref = "main", subdirectory = "lib"}
python-dotenv = "*"
smart-open = {extras = ["s3"]}
boto3 = "==1.35.95"
jq = "*"

[dev-packages]

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
